# **Gradient Descent**

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df=pd.read_csv("dhakahomeprices.csv")

In [4]:
df

   area  price
0  2600  55000
1  3000  56500
2  3200  61000
3  3600  68000
4  4000  72000
5  2500  40000
6  2700  38000
7  1200  17000

In [5]:
x=df["area"]
y=df["price"]

# Gradient Descent Algorithm
The mean square error,
$$
MSE=\frac{1}{n}\sum(y_{i}-(mx_{i}+c))^2
$$

Differentiating with respect to m, 
$$ 
D_{m}=-\frac{2}{n}\sum(x_{i}*(y_{i}-\hat y))
$$

Differentiating with respect to c, 
$$
D_{c}=-\frac{2}{n}\sum(y_{i}-\hat y)
$$
Updating slope and intercepts,
$$
m=m-L*D_{m}\\c=c-L*D_{c}
$$
where L is learning rate

In [17]:
m=0
c=0
n=int(len(x))
L=0.0000001142
for i in range(10000):
    y_pred=m*x+c
    dfrt_m=(-2/n)*sum(x*(y-y_pred))
    dfrt_c=(-2/n)*sum(y-y_pred)
    m=m-L*dfrt_m
    c=c-L*dfrt_c
print(m,c)

18.065891594568072 -1.2482261394498144

In [18]:
y_pred

0    46970.069939
1    54196.426560
2    57809.604871
3    65035.961493
4    72262.318114
5    45163.480783
6    48776.659094
7    21677.821764
Name: area, dtype: float64

In [23]:
prdd=m*2600+c
prdd

46970.069919737536

# *Accuracy Test*

In [21]:
from sklearn.metrics import r2_score
r2_score(y,y_pred)

0.8908375384482812